<ion-view view-title="Dashboard" cache-view="false">
  <ion-content class="padding">
  <div>
    <h2>Walk Paine walk.</h2>
        <p class="showSteps">{{steps}}</p>
  </div>
  <div id="picture-box">
    Image goes here.
  </div>
  <div>
    <button class="button" ng-click="resetButton()">Reset Button</button>

    <p>{{resetCount}}</p>
    <p>Total</p>
    <p>{{total}}</p>
  </div>

  <button onclick="changeColor('red');">Color</button>
  <button onclick="feedIt();">Feed</button>
  
  <div id="thing">blah
    <canvas id="myCanvas"></canvas>
  </div>
        <script src="js/pixi.min.js"></script>
        <script src="js/imageStage.js"></script>
        <script>console.log("PIXI 1", PIXI);</script>
  </ion-content>
</ion-view>
